* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
    height: 100vh
}


.poster--title {
    font-size: 30px;
    color: #DADADA;
    margin-bottom: 10px;
}

.header--poster {
    height: 100vh;
    position: relative;
    background-size: cover;
}

.header--video {
    height: 100vh;
    width: 900px;
    position: relative;
}

.summary--div {
    padding-top: 230px; /*JUST CHANGE THE PADDING FOR THE SUMMARY HEIGHT TO CHANGE.... 250px for laptop and 500px for PC*/
    padding-left: 90px;
    color: #DADADA;
}

.watch--now {
    font-size: 20px;
    margin-top: 20px;
}

.poster--summary {
    width: 850px;
    line-height: 30px;
    font-size: 22px;
}

.summary--buttons {
    padding: 10px 55px 10px 55px;
    color: #DADADA;
    background-color: rgba(128, 128, 128, 0.3);
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.summary--buttons:hover {
    padding: 10px 55px 10px 55px;
    color: black;
    background-color: #DADADA;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}


.icon {
    height: 24px
}


.hum--menu {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
}

.menu--icon {
    height: 30px;
    width: 35px;
    padding: 5px;
    stroke: #DADADA;
}

.netflix--logo {
    height: 27px;
    padding-left: 30px;
    padding-bottom: 7px;
}

.search--div {
    display: inline-block;
    float: right;
    padding: 10px;
    /*display: flex;*/
    /*justify-content: flex-end;
    align-content: center;*/
}

.search--button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search--icon {
    width: 30px;
    height: 23px;
    stroke: #DADADA;
}

.dots--button {
    background-color: transparent;
    border: none;
    transform: rotate(90deg);
    cursor: pointer;
}

.dots--icon {
    width: 35px;
    height: 27px;
    stroke: #DADADA;
}

.list {
    color: #DADADA;
}

.heading--popular {
    color: #DADADA;
    font-family: sans-serif;
    margin-top: 40px;
    margin-bottom: 7px;
    font-size: 19px;
}
/*MOVIES GRID AND SCROLLBAR*/
.movie-lists-div {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 10px;
}

    .movie-lists-div::-webkit-scrollbar {
        border-radius: 50%;
    }

    .movie-lists-div::-webkit-scrollbar-track {
        background-color: black;
    }

    .movie-lists-div::-webkit-scrollbar-thumb {
        /*background-color: rgba(0,0,0,0.3); */
        background-color: rgba(255, 255, 255,0.3);
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;
    }
/*----------------------------*/




.show--Modal {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*MODAL CSS*/

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 95%;
    background-color: #424242;
    z-index: 11;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vh; /*CHANGE THE HEIGHT FOR OVERLAY 160vh for laptop and about 140vh for PC*/
    background-color: rgba(0,0,0,0.9);
    z-index: 5;
}

.img--modal {
    width: 100%;
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 30%);
}

.btnPlayModal--icon {
    height: 60px;
    stroke: rgba(255, 255, 255,0.4);
}

.btnPlay {
    position: absolute;
    top: 90px;
    right: 225px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btnPlayModal--icon:hover {
    stroke: rgba(255,255,255,0.7);
}


.close--modal {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    width: 33px;
    cursor: pointer;
}

.closeModal--icon {
    stroke: #DADADA;
}

.title--modal {
    color: #DADADA;
    position: absolute;
    font-size: 29px;
    top: 40%;
    margin-left: 35px;
}

.overview--modal {
    color: #DADADA;
    line-height: 1.2;
    padding: 0 25px 25px 25px;
}




/*NAVBAR--------------------------------------*/

.ul-- {
    position: absolute;
    top: 0px;
    z-index: 15;
    list-style: none;
    background-color: rgb(16 16 16);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 25vw;
    height: 100vh;
    color: #DADADA;
    font-family: sans-serif;
}

    .ul--::-webkit-scrollbar {
        border-radius: 0;
    }

    .ul--::-webkit-scrollbar-track {
        background-color: black;
    }

    .ul--::-webkit-scrollbar-thumb {
        /*background-color: rgba(0,0,0,0.3); */
        background-color: rgba(255, 255, 255,0.3);
    }



    .ul-- li {
        padding: 20px 0 20px 20px;
    }

        .ul-- li:hover {
            background-color: rgba(255, 255, 255,0.2);
            border-left: 5px solid red;
        }

.closeHambtn-- {
    position: absolute;
    top: 5px;
    left: 330px;
    z-index: 16;
    cursor: pointer;
    width: 40px;
    border: none;
    background-color: transparent;
}


.closeHam--icon {
    stroke: rgba(255, 255, 255,0.3);
}

    .closeHam--icon:hover {
        stroke: red;
    }



/*----------RESPONSIVENESS-----------------*/

@media (min-width:425px){
    .movieimage--grid{
        height:170px;
    }

    .header--poster {
        height: 50vh;
        position: relative;
        background-size: cover;
    }
    .summary--div {
        padding-top: 50px; /*JUST CHANGE THE PADDING FOR THE SUMMARY HEIGHT TO CHANGE.... 250px for laptop and 500px for PC*/
        padding-left: 30px;
        color: #DADADA;
    }
    .summary--buttons {
        padding: 5px 40px 5px 40px;
        color: #DADADA;
        background-color: rgba(128, 128, 128, 0.3);
        border: none;
        border-radius: 3px;
        margin-right: 10px;
        cursor: pointer;
    }

    .summary--buttons:hover {
        padding: 5px 40px 5px 40px;
        color: black;
        background-color: #DADADA;
        border: none;
        border-radius: 3px;
        margin-right: 10px;
    }

    .poster--summary {
        width: 595px;
        line-height: 30px;
        font-size: 22px;
    }

    .poster--summary p {
        line-height: 30px;
        font-size: 15px;
    }

    .poster--title {
        font-size: 24px;
        color: #DADADA;
        margin-bottom: 10px;
    }

    .watch--now {
        font-size: 16px;
        margin-top: 20px;
    }

    .btnPlay {
        position: absolute;
        top: 55px;
        right: 109px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .btnPlayModal--icon {
        height: 40px;
        stroke: rgba(255, 255, 255,0.4);
    }

    /*----HAMBURGER MENU----*/
    .ul-- {
        position: absolute;
        top: 0px;
        z-index: 15;
        list-style: none;
        background-color: rgb(16 16 16);
        overflow-y: scroll;
        overflow-x: hidden;
        width: 35vw;
        height: 100vh;
        color: #DADADA;
        font-family: sans-serif;
    }

    .closeHambtn-- {
        position: absolute;
        top: 5px;
        left: 280px;
        z-index: 16;
        cursor: pointer;
        width: 40px;
        border: none;
        background-color: transparent;
    }
    /*-----------------------*/

    .title--modal {
        color: #DADADA;
        position: absolute;
        font-size: 29px;
        top: 40%;
        margin-left: 35px;
    }

    .overview--modal {
        color: #DADADA;
        line-height: 1.2;
        padding: 0 25px 25px 25px;
        position: absolute;
        top: 57%;
    }

}

@media (min-width:768px) {
    .movieimage--grid {
        height: 220px;
    }

    .header--poster {
        height: 60vh;
        position: relative;
        background-size: cover;
    }

    .summary--div {
        padding-top: 80px; /*JUST CHANGE THE PADDING FOR THE SUMMARY HEIGHT TO CHANGE.... 250px for laptop and 500px for PC*/
        padding-left: 90px;
        color: #DADADA;
    }

    .summary--buttons {
        padding: 5px 40px 5px 40px;
        color: #DADADA;
        background-color: rgba(128, 128, 128, 0.3);
        border: none;
        border-radius: 3px;
        margin-right: 10px;
        cursor: pointer;
    }

    .summary--buttons:hover {
        padding: 5px 40px 5px 40px;
        color: black;
        background-color: #DADADA;
        border: none;
        border-radius: 3px;
        margin-right: 10px;
    }

    .poster--summary {
        width: 670px;
        line-height: 30px;
        font-size: 22px;
    }

    .poster--summary p {
        line-height: 30px;
        font-size: 22px;
    }

    .watch--now {
        font-size: 20px;
        margin-top: 20px;
    }

    .poster--title {
        font-size: 30px;
        color: #DADADA;
        margin-bottom: 10px;
    }

    .btnPlay {
        position: absolute;
        top: 90px;
        right: 175px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .btnPlayModal--icon {
        height: 60px;
        stroke: rgba(255, 255, 255,0.4);
    }

    /*----HAMBURGER MENU----*/
    .ul-- {
        position: absolute;
        top: 0px;
        z-index: 15;
        list-style: none;
        background-color: rgb(16 16 16);
        overflow-y: scroll;
        overflow-x: hidden;
        width: 26vw;
        height: 100vh;
        color: #DADADA;
        font-family: sans-serif;
    }

    .closeHambtn-- {
        position: absolute;
        top: 5px;
        left: 300px;
        z-index: 16;
        cursor: pointer;
        width: 40px;
        border: none;
        background-color: transparent;
    }
    /*-----------------------*/


    .title--modal {
        color: #DADADA;
        position: absolute;
        font-size: 29px;
        top: 50%;
        margin-left: 35px;
    }

    .overview--modal {
        color: #DADADA;
        line-height: 1.2;
        padding: 0 25px 25px 25px;
        position:absolute;
        top:57%;
    }
}


@media (min-width:1080px) {
    .movieimage--grid {
        height: 320px;
    }

    .header--poster {
        height: 80vh;
        position: relative;
        background-size: cover;
    }

    .summary--div {
        padding-top: 280px;
        padding-left: 90px;
        color: #DADADA;
    }

    .poster--summary {
        width: 850px;
        line-height: 30px;
        font-size: 22px;
    }

    .summary--buttons {
        padding: 10px 55px 10px 55px;
        color: #DADADA;
        background-color: rgba(128, 128, 128, 0.3);
        border: none;
        border-radius: 3px;
        margin-right: 10px;
        cursor: pointer;
    }

    .summary--buttons:hover {
        padding: 10px 55px 10px 55px;
        color: black;
        background-color: #DADADA;
        border: none;
        border-radius: 3px;
        margin-right: 10px;
    }

    .btnPlay {
        position: absolute;
        top: 180px;
        right: 350px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .btnPlayModal--icon {
        height: 60px;
        stroke: rgba(255, 255, 255,0.4);
    }

    /*----HAMBURGER MENU----*/
    .ul-- {
        position: absolute;
        top: 0px;
        z-index: 15;
        list-style: none;
        background-color: rgb(16 16 16);
        overflow-y: scroll;
        overflow-x: hidden;
        width: 20vw;
        height: 100vh;
        color: #DADADA;
        font-family: sans-serif;
    }

    .closeHambtn-- {
        position: absolute;
        top: 5px;
        left: 400px;
        z-index: 16;
        cursor: pointer;
        width: 40px;
        border: none;
        background-color: transparent;
    }
    /*-----------------------*/


    .title--modal {
        color: #DADADA;
        position: absolute;
        font-size: 29px;
        top: 40%;
        margin-left: 35px;
    }

    .overview--modal {
        color: #DADADA;
        line-height: 1.2;
        padding: 0 25px 25px 25px;
        position: absolute;
        top: 47%;
    }

}
